{% set hideFooter = true %}
{% extends "_parts/base.twig" %}

{% block title %}Doc {{ version }}{{ parent() }}{% endblock %}

{% block content %}

<style>
  #main img {
    width:100%;
    max-width:600px;
  }

  .doc-dropdown-content {
    right: 0;
    min-width: 200px;
  }
</style>
    
<section id="main">
  <div class="inner">
    <header>
      <h1>Documentation {{ version }}</h1>
    </header>
    <div>
      {% for doc in docProvider.releaseDocuments %}
        <a href="{{ doc.Url }}" style="padding-left:5px;padding-right:5px;">{{ doc.Name }}</a> 
      {% endfor %}
          
      {% if docProvider.notImportantBooks is not empty or docProvider.existingBook is not empty %}
        <div class="doc-dropdown" ontouchstart="$(this).toggleClass('active-dropdown');">
          <a class="button doc-dropbtn"><i class="si si-book"></i> Further Docs</a>
          <div class="doc-dropdown-content">
            {% if docProvider.notImportantBooks is not empty %}
              <span style="font-size:12px;padding-left:15px; color: #1b1b1b;">Docs</span>
              {% for doc in docProvider.notImportantBooks %}
                <a href="{{ doc.Url }}" target="_blank"><i class="si si-book"></i> {{ doc.Name }}</a>
              {% endfor %}
            {% endif %}
            
            {% if docProvider.existingBooks is not empty %}
              <span style="font-size:12px;padding-left:15px; color: #1b1b1b;">PDF's</span>
              {% for doc in docProvider.existingBooks %}
                <a href="{{ doc.PdfUrl }}" target="_blank"><i class="si si-file"></i> {{ doc.Name }}</a>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      {% endif %}
          
      <br />
          
      {% for doc in docProvider.importantBooks %}
        <a href="{{ doc.Url }}" target="_blank" style="padding-left:5px;padding-right:5px;">{{ doc.Name }} <i style="font-size:14px;" class="si si-hyperlink"></i></a>
      {% endfor %}
      {% for doc in docProvider.externalBooks %}
        <a href="{{ doc.Url }}" target="_blank" style="padding-left:5px;padding-right:5px;">{{ doc.Name }} <i style="font-size:14px;" class="si si-hyperlink"></i></a>
      {% endfor %}
          
      {% if portalLink is not empty %}
        <a target="_blank" style="padding-left:5px;padding-right:5px;" href="{{ portalLink }}">Portal Guide <i style="font-size:14px;" class="si si-hyperlink"></i></a>
      {% endif %}
          
      {% for doc in docProvider.zips %}
        {% if doc.zipExists %}
          <a href="{{ doc.zipUrl }}" target="_blank" title="{{ doc.Name }}" style="padding-left:5px;padding-right:5px;">
            <i style="font-size:14px;" class="si si-download"></i>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

<script type="text/javascript">
  function resizeIframe(obj) {
    obj.height = obj.contentWindow.document.body.scrollHeight;
    removeHeader(obj);
    openLinksInNewTab(obj);
  }
  function removeHeader(iframe) {
    headerdiv = iframe.contentWindow.document.getElementById('headerdiv');
    if (headerdiv != null) {
      header = headerdiv.parentElement;
      if (header != null) {
        header.remove();
      }
    }
    
    navbars = iframe.contentWindow.document.getElementsByClassName('navbar ivy-subnav');
    for (i = 0; i < navbars.length; i++) {
      navbars[i].remove();
    } 
    
    // since 7.x
    containers = iframe.contentWindow.document.getElementsByClassName('container');
    if (containers != null && containers[0]) {
      containers[0].style.marginLeft = "0px"
    }
    
    navbars = iframe.contentWindow.document.getElementsByTagName('nav');
    if (navbars != null && navbars[0]) {
      navbars[0].remove();
    }
  }
  function openLinksInNewTab(iframe) {
    var base = document.createElement('base');
    base.target = '_parent';
    iframe.contentWindow.document.getElementsByTagName('head')[0].appendChild(base);
  }
</script>


<style>
  .iframe-container {
    position: relative;
    min-height:400px;
  }
  
  .iframe-container iframe {
    border: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
</style>


<section style="padding-top: 0; padding-bottom: 0;">
  <div class="inner">
    <div id="iframecontainer" class="iframe-container">
      <iframe title="Document frame" src="{{ documentUrl }}" onload='javascript:resizeIframe(this);'></iframe>
    </div>
  </div>
</section>

{% endblock %}
