{% extends "_parts/base.twig" %}

{% block title %}Doc {{ parent() }}{% endblock %}

{% block content %}

<section id="main">
  <div class="inner">
    <header>
      <h1>Documentation</h1>
    </header>
    <p>Find all information about the Axon Ivy Platform in our documents.</p>
  </div>
</section>

{% if docLinksLE is not empty %}
  <section id="three">
  {% else %}
  <section id="two">
  {% endif %}

    <div class="inner">
      <article>
        <div class="content">
          <header>
            <h3><i class="si si-lts"></i> Long Term Support (LTS)</h3>
          </header>
          <ul class="actions">
          {% for docLink in docLinksLTS %}
            <li>
              <span class="button special min-width">
                <a href="{{ docLink.url }}">
                  <i class="si si-book"></i> {{ docLink.displayText }}
                </a>
                <span class="doc-dropdown" ontouchstart="$(this).toggleClass('active-dropdown');">
                  <i class="si si-arrow-down doc-dropbtn"></i>
                  <span class="doc-dropdown-content">
                    <span>More</span>
                    {% for doc in docLink.releaseDocuments %}
                      <a href="{{ doc.Url }}" target="_blank"><i class="si si-{{ doc.Name == 'News' ? 'news' : 'book'}}"></i> {{ doc.Name }}</a>
                    {% endfor %}
                  </span>
                </span>
              </span>
            </li>
          {% endfor %}
        </ul>
        </div>
      </article>
      {% if docLinksLE is not empty %}
        <article>
          <div class="content">
            <header>
              <h3><i class="si si-star"></i> Leading Edge (LE)</h3>
            </header>
            <ul class="actions">
              {% for docLink in docLinksLE %}
                <li>
                  <span class="button special min-width">
                    <a href="{{ docLink.url }}">
                      <i class="si si-book"></i> {{ docLink.displayText }}
                    </a>
                    <span class="doc-dropdown" ontouchstart="$(this).toggleClass('active-dropdown');">
                      <i class="si si-arrow-down doc-dropbtn"></i>
                      <span class="doc-dropdown-content">
                        <span>More</span>
                        {% for doc in docLink.releaseDocuments %}
                          <a href="{{ doc.Url }}" target="_blank"><i class="si si-{{ doc.Name == 'News' ? 'news' : 'book'}}"></i> {{ doc.Name }}</a>
                        {% endfor %}
                      </span>
                    </span>
                  </span>
                </li>
              {% endfor %}
            </ul>
          </div>
        </article>
      {% endif %}
      <article>
        <div class="content">
          <header>
            <h3><i class="si si-lab-flask"></i> Dev Releases</h3>
          </header>
          <ul class="actions">
            {% for docLink in docLinksDEV %}
              <li>
                <a href="{{ docLink.url }}" class="button min-width">
                  <i class="si si-book"></i> {{ docLink.displayText }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </article>
    </div>
  </section>
{% endblock %}
