{% extends "_parts/base.twig" %}

{% block title %}Tutorial - Getting Started{{ parent() }}{% endblock %}

{% block content %}

<style>
	.timeline {
	  margin: 50px 0;
	  padding: 0;
	  border-top: 2px solid #fff;
	  list-style: none;
	  --background: #007095
	}

	.timeline li {
		float: left;
	  	padding-top: 30px;
	  	position: relative;
		width: 20%
	}
	.timeline li:first-of-type:before, .timeline li:last-of-type:before {
		content: "";
		width: 50%;
		height: 100%;
		background: #007095;
		position: absolute;
		top: -2px;
		left: 0;
	}
	.timeline li:last-of-type:before {
		left: 50%;
	}
	.timeline .title {
	  display: block;
	  width: 100%;
	  padding: 30px 0 0;
	  font-size: 12px;
	  text-align: center;
	  position: absolute;
	  top: 0;
	  right: 0;
	}
	.timeline .radio {
	  display: none;
	}
	.timeline .marker {
	  width: 50px;
	  height: 50px;
	  margin-left: -25px;
	  background: #007095;
	  border: 4px solid #fff;
	  border-radius: 50%;
	  box-shadow: 0 0 0 10px #007095;
	  text-align: center;
	  line-height: 50px -10;
	  color: #fff;
	  font-size: 24px;
	  font-style: normal;
	  position: absolute;
	  top: -26px;
	  left: 50%;
	}
	.current .marker {
	  color: #fff;
	  border: 5px solid #C7D426;
	}
</style>

<section id="main" class="inverse" style="padding-bottom: 3em;">
	<div class="inner">
		<header>
			<h1>
				<span class="icon fas fa-graduation-cap"></span> Tutorial - {{ tutorial.name }}
			</h1>
		</header>

		<ol class="timeline">
			{% for step in tutorial.steps %}
			<li class="{{ currentStepNr == step.number ? 'current' }}">
				<input class="radio" type="radio">
				<span class="title"><strong>Step {{ step.number }}</strong><br>{{ step.name }}</span> 
				<a href="{{ step.url }}"><i class="marker">{{ step.number }}</i></a>
			</li>
			{% endfor %}
		</ol>
	</div>
</section>

<section id="one">
	<div class="inner">
		<div class="row">
			<div class="4u 12u$(small)">
				<ol>
					{% for instruction in step.instructions %}
					<li>{{ instruction|raw }}</li>
					{% endfor %}
				</ol>
				{% if nextStepVideoUrl is not empty %}
				<ul class="actions">
					<li><a href="{{ nextStepVideoUrl }}" class="button special">Next</a></li>
				</ul>
				{% endif  %}
			</div>
			<div class="8u 12u$(small)">
				<iframe title="{{ step.name }}" style="width: 100%; height: 40vh;" src="{{ step.videoUrl }}"></iframe>
			</div>
		</div>
	</div>
</section>

{% endblock %}

