{% extends "_parts/base.twig" %}

{% block title %}Archive{{ parent() }}{% endblock %}

{% block content %}

<style>
  table.alt tbody tr td {
    border-color: #C7D426;
  }

  table.alt tbody tr td {
    border: 0px;
    border-top: 1px solid black;
  }

  .tooltip {
    position: relative;
    color: lightblue;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%; 
    font-weight: normal;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
</style>

<section id="main">
  <div class="inner">
    <header>
      <h1>Archive</h1>
    </header>
    <p>You are looking for older versions? Browse our archive!</p>
  </div>
</section>

<section id="one" >
  <div class="inner">
    <div class="table-wrapper">
      <div class="select-wrapper">
        <select name="version" id="version" onchange="location = this.value;">
          {% for categoryName, versions in categorizedVersions %}
            <optgroup label="{{ categoryName == 'UNSUPPORTED' ? 'Unsupported' : categoryName }}">
              {% for versionLink in versions %}
                <option value="{{ versionLink.url }}" {{ (versionLink.id == currentMajorVersion) ? 'selected' : '' }}>
                  {{ versionLink.id }}
                </option>
              {% endfor %}
            </optgroup>
          {% endfor %}
        </select>
      </div>
        
      <br />
        
      <table class="alt">
        <thead>
          <tr>
            <th>Version</th>
            <th>Download</th>
            <th>Documents</th>
          </tr>
        </thead>
        <tbody>
        {% for releaseInfo in releaseInfos %}
          <tr>
            <td>
              <div>{{ releaseInfo.version.VersionNumber }}</div>
              <div style="font-size: 13px;">{{ releaseInfo.ReleaseDate }}</div>
            </td>
            <td>
            {% for artifact in releaseInfo.artifacts %}
              <a href="{{ artifact.DownloadUrl }}"><i class="si si-download"> </i></a> &nbsp;<a href="{{ artifact.DownloadUrl }}" title="{{ artifact.FileName }}">{{ artifact.FileName }}</a>
              {% if artifact.hasBom %}
                 <a href="{{ artifact.DownloadBomUrl }}" title="Download Software Bill of Materials"><i class="si si-menu"></i></a>
              {% endif %}

              {% if artifact.Type == "Slim All" %}
                <span class="tooltip">
                  <i class="si si-info"></i>
                  <span class="tooltiptext">
                    {% if currentMajorVersion <= 9 %}
                      This version is similar to the 'All' product, but without the 'Axis' extension and 'demo-portal'.
                    {% else %}
                      This version is similar to the 'All' product, but without the 'demo-portal'.
                    {% endif %}
                  </span>
                </span>
              {% endif %}
              <br />
            {% endfor %}
            </td>

            <td style="min-width:200px;">
            {% if releaseInfo.DocProvider.hasDocuments %}
              <a href="{{ releaseInfo.DocProvider.OverviewUrl }}"><i class="si si-file"></i> Documentation</a><br />
            {% endif %}
            {% if releaseInfo.hasHotfix %}
              <a href="{{ releaseInfo.HotfixFileUrl }}"><i class="si si-download"> </i></a>&nbsp;Hotfix<br />
              <a href="{{ releaseInfo.DocProvider.HotfixHowToDocument.Url }}"><i class="si si-file"> </i></a>&nbsp;{{ releaseInfo.DocProvider.HotfixHowToDocument.Name }}<br />
            {% endif %}
            <a href="{{ releaseInfo.ChecksumsUrl }}"><i class="si si-download"></i> Checksums</a><br />
            {% if releaseInfo.UnsafeVersion %}
              {% if releaseInfo.getUnsafeReasons is empty %}
                <i class="si si-warning" style="background-color: red;"></i> Security issue<br />
              {% endif %}
              {% for reason in releaseInfo.getUnsafeReasons %}
                <a href="{{ reason.url }}">
                  <i class="si si-warning" style="background-color: red;"></i> {{ reason.issue }}
                </a><br />
              {% endfor %}
            {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
    
{% endblock %}
