{% extends "_parts/base.twig" %}

{% block title %}Deprecation{{ parent() }}{% endblock %}

{% block content %}

<section id="main">
  <div class="inner">
    <header>
      <h1>Deprecation and Removal</h1>
    </header>
    <p>You should avoid using deprecated Public API and features. When migrating to a new version check for <a href="/doc/latest/public-api/deprecated-list.html">deprecated Public API</a> and features and replace them with the successor API or feature.</p> 
  </div>
</section>

<section style="padding: 2em 0;">
  <div class="inner">
    <p style="margin-bottom: 1em">We deprecate and remove Features as follows:</p>
    <ul>
      <li>We document feature that we will remove in future versions on this page.</li>
      <li>We document <a href="/doc/latest/public-api/deprecated-list.html">Public API</a> that we will remove in future versions in the source code as <code>@Deprecated(forRemoval=true)</code></li>
      <li>We document features that we will remove in future on the Designer's UI and in the Problem View as Warnings.</li>
    </ul>

    <table>
      <thead>
        <tr>
          <th rowspan="2">Feature</th>
          <th rowspan="2">Successor</th>
          <th colspan="{{ versions|length }}">Version</th>
        </tr>
        <tr class="versions">
          {% for version in versions %}
            <th>{{ version }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for feature in features %}
          <tr>            
            <td>
              <a href="{{ feature.nameHref }}">{{ feature.name}}</a> 
              {% if feature.description is not empty %}
              <span title="{{ feature.description }}" class="deprecation-info"></span>
              {% endif %}
            </td>
            <td><a href="{{ feature.successorHref }}">{{ feature.successor }}</a></td>
          {% set cls = "" %}
          {% for version in versions %}
            <td class="deprecation-icon"><span class="{{ feature.cssClassForVersions[version] }}"></span></td>
          {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>    
    <h4>Legend</h4>
    <p>
      <span class="deprecation-released"></span> The feature was introduced in this release.<br>
      <span class="deprecation-ok"></span> &nbsp;The feature can be used in this release.<br>
      <span class="deprecation-deprecated"></span> &nbsp;The feature was deprecated in this release. You should no longer use it but it still works.<br>
      <span class="deprecation-removed"></span> The feature was removed in this release. It cannot be used anymore.<br>
    </p>
  <div>
</section>
{% endblock %}
