{% extends "_parts/base.twig" %}

{% block title %}Home{{ parent() }}{% endblock %}

{% block content %}

		<style>
		.embed-container {
		  position: relative; 
		  padding-bottom: 56.25%; /* ratio 16x9 */
		  height: 0; 
		  overflow: hidden; 
		  width: 100%;
		  height: auto;
		}
		.embed-container iframe {
		  position: absolute; 
		  top: 0; 
		  left: 0; 
		  width: 100%; 
		  height: 100%; 
		}
	</style>

	<section id="banner">
		<div class="inner">
			<h1>AXON.IVY DIGITAL BUSINESS PLATFORM</h1>
			<ul class="actions">
				<li>
					<a href="/download" class="button alt">
						<i class="icon fas fa-download"></i> Download {{ CURRENT_VERSION_DOWNLOAD_LONG }}
					</a>
				</li>
				<li>
					<a href="/news" class="button alt">
						<i class="icon fas fa-newspaper"></i> New and Noteworthy
					</a>
				</li>
				<li>
					<a href="https://release.axonivy.com" target="_blank" rel="noreferrer" class="button alt">
						<i class="icon fas fa-rocket"></i> Release 8.0
					</a>
				</li>
			</ul>
		</div>
	</section>
    
   	<span id="video"></span>
	{% for feature in features %}
		<section style="padding: 3em 0 2em 0;">
			<div class="inner-small" style="text-align:center;max-width: 50em;">
				<header><h2>{{ feature.title }}</h2></header>
				<p>{{ feature.description }}</p>
				
				{% if not feature.videoUrl is empty %}
				<div class="embed-container">
					<iframe title="{{ feature.title }}" src="{{ feature.videoUrl }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
				{% endif %}
				
				{% if not feature.imageUrl is empty %}
					<span class="image fit">
						<center><img src="{{ feature.imageUrl }}" style="max-width:{{ feature.imageMaxWidth }};" alt="{{ feature.title }}" /></center>
					</span>
				{% endif %}
			</div>
		</section>
	{% endfor %}
	
	<span class="image fit" style="margin-bottom:0px;"><img src="/images/misc/visionar-gartner.jpg" alt="Visionar Gartner" /></span>
	
{% endblock %}