{% extends "_parts/base.twig" %}

{% block title %}Home{{ parent() }}{% endblock %}

{% block content %}

<style>
  .embed-container {
    position: relative; 
    padding-bottom: 56.25%; /* ratio 16x9 */
    height: 0; 
    overflow: hidden; 
    width: 100%;
    height: auto;
  }
  .embed-container iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
  }

  .news-banner {
    background-color: rgb(255, 205, 41);
    padding: 0.5rem 0;
  }
  .news-banner a {
    text-decoration: underline;
    font-weight: bold;
    color: black;
  }
</style>

{# <section class="news-banner">
  <div class="inner">
    <div>
      <i class="si si-warning"></i>
      Critical issue CVE-2021-44228 (Log4Shell) found in Log4J library. Read more 
      <a href="https://community.axonivy.com/d/231-cve-2021-44228-log4j2-jndildap-vulnerability">here</a>.
    </div>
  </div>
</section> #}

<section id="banner">
  <div class="inner">
    <h1>Axon Ivy Platform</h1>
    <ul class="actions">
      <li>
        <a href="/download" class="button alt">
          <i class="si si-download"></i> Download {{ CURRENT_VERSION_DOWNLOAD_LONG }}
        </a>
      </li>
      <li>
        <a href="/news" class="button alt">
          <i class="si si-news"></i> New and Noteworthy
        </a>
      </li>
      <li>
        <a href="https://market.axonivy.com" class="button alt">
          <i class="si si-shop"></i> Market
        </a>
      </li>
    </ul>
  </div>
</section>
    
<span id="video"></span>

<section id="two">
  <div class="inner">
    {% for feature in features %}
      {% if not feature.videoUrl is empty %}
      <article>
        <div class="content">
          <header>
            <h3><i class="si {{ feature.icon }}"></i> {{ feature.title }}</h3>
          </header>
          <p>{{ feature.description }}</p>
          <ul class="actions">
            <li>
              <a href="{{ feature.videoUrl }}" class="button special">
                <i class="si si-movie"></i> Watch on vimeo
              </a>
            </li>
          </ul>
        </div>
      </article>
      {% endif %}
    {% endfor %}
  </div>
</section>

<section id="three">
  <div class="inner">
    {% for feature in features %}
      {% if feature.videoUrl is empty %}
      <article>
        <div class="content">
          <header>
            <h3><i class="si {{ feature.icon }}"></i> {{ feature.title }}</h3>
          </header>
          <p>{{ feature.description }}</p>
        </div>
      </article>
      {% endif %}
    {% endfor %}
  </div>
</section>

{% if ANNOUNCMENT_SHOW %}
  <div class="fixed-news-image">
    <span class="close-button" onclick="hideAnnouncment()"></span>
    <a href="/team">
      <img src="/images/misc/hiring.png" alt="Join our team" />
    </a>
  </div>

  <script>
    function hideAnnouncment() {
      document.querySelector('.fixed-news-image').style.display = 'none';
      let expiryDate = new Date();
      expiryDate.setMonth(expiryDate.getMonth() + 3)
      document.cookie = `announcment=false; expires=${expiryDate}`;
    }
  </script>
{% endif %}

{% endblock %}
