{% extends "_parts/base.twig" %}

{% block title %}Axon Ivy Market{{ parent() }}{% endblock %}

{% block content %}

{% if hideSearch is defined %}
<style>
  .product-card {
    padding: 0.5em;
  }
  .product-card .product-logo {
    height: 40px;
    margin-top: 0.5em;
  }
  .product-title {
    font-size: 0.9em;
    margin-top: 0.5em;
    line-height: 1.1em;
    white-space: normal;
    max-height: 2.2em;
  }
  .product-desc {
    display: none;
  }
  .product-card .product-tag {
    font-size: 9px;
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: normal;
    position: relative;
    height: 18px;
  }
  
  section .inner {
    width: calc(100% - 1em);
  }
  @media screen and (min-width: 300px) {
    .p-col-fixed {
      width: 50%;
    }
  }
  @media screen and (min-width: 500px) {
    .p-col-fixed {
      width: 33%;
    }
  }
  @media screen and (min-width: 768px) {
    .p-col-fixed {
      width: 25%;
    }
  }
  @media screen and (min-width: 992px) {
    .p-col-fixed {
      width: 20%;
    }
  }
</style>
{% endif %}

{% if hideSearch is not defined %}
<section id="main">
  <div class="inner">
    <header>
      <h1>Axon Ivy Market</h1>
    </header>
    <p>
      The Axon Ivy Market offers a unique experience to accelerate process automation.
      From standard connectors of leading providers, ready-to-use process models,
      business solutions and many utilities such as document generation and worklfow user interfaces.
    </p>

    <div class="row">
      <div class="6u 12u(small)" style="margin-bottom:10px;">
        <span class="dropdown">
          <label>Topic</label>
          <select id="tags" multiple="multiple">
            {% for tag in tags %}
              <option value="{{ tag }}">{{ tag }}</option>
            {% endfor %}
          </select>
        <span>
      </div>
      
      <div class="6u 12u(small)">
        <input type="text" id="searchQuery" placeholder="Search ..." value="{{ searchQuery }}" style="height: 3.3em;"></input>
      </div>
    </div>

    <div class="row">
      <div class="p-grid p-justify-center types">
        {% for type in types %}
          <div class="p-col-fixed type {{ (type.filter == selectedType) ? 'selected' : '' }}" data-filter="{{ type.filter }}" onclick="selectType('{{ type.filter }}')">
            <i class="si {{ type.icon }}"></i> {{ type.name }}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="row" style="margin-top:5px;">
      <div class="12u$">
          <a href="/market" style="font-size:16px;{{ (filterSet) ? '' : 'display: none;' }}"><i class="si si-undo"></i> Reset Filter</a>
      </div>
    </div>

    <script>

      $(document).ready(function() {
        $("#tags").select2({
          placeholder: 'Please select a topic',
          width: '100%'
        });
        $("#tags").val('{{ selectedTags }}'.split(',')).trigger("change");
        var typesDropdown = document.getElementById('tags');
        typesDropdown.onchange = function() { searchMarket(''); };
      });

      function selectType(filterType) {
        $('.types .selected').removeClass('selected');
        $('.types .type[data-filter="' + filterType + '"]').addClass('selected');
        searchMarket();
      }

      function searchMarket() {
        var searchQuery = document.getElementById('searchQuery').value;
        var searchTags = $('#tags').val().join(',');
        var selectedType = $('.types .selected').attr('data-filter');
        window.location.href = "?search=" + searchQuery + "&type=" + selectedType + "&tags=" + searchTags;
      }

      var delayTimer;
      var input = document.getElementById("searchQuery");                
      input.addEventListener("keyup", function(event) {
        clearTimeout(delayTimer);
        delayTimer = setTimeout(function() {
          searchMarket();
        }, 600);
      });

      var input = document.getElementById("searchQuery");
      var len = input.value.length;
      input.focus();
      input.setSelectionRange(len, len);
    </script>
  </div>
</section>
{% endif %}

<section>
  <div class="inner">
    {% if products is empty %}
      Nothing found
    {% endif %}
    <div class="row p-grid p-align-stretch">
      {% for product in products %}
        <div class="p-col-fixed p-col-6 p-md-4 p-lg-3">
          <div class="product-card zoom" onclick="location.href='{{ product.url }}';">
            <div class="product-type {{ product.type }}"></div>
            <div class="product-tags p-grid p-dir-rev">
              {% for tag in product.tags %}
                <span class="product-tag">{{ tag }}</span>
              {% endfor %}
            </div>
            <center class="product-logo">
              <img src="{{ product.imgSrc }}" alt="{{ product.name }}" class="image"/>
            </center>
            <center class="product-title">
              {{ product.name }}
            </center>
            <center class="product-desc">
              {{ product.shortDescription }}
            </center>
          </div>
        </div>
      {% endfor %}
    </div>    
  </div>
</section>

{% if hideSearch is not defined %}
<div style="text-align:center;margin-top:20px;font-size:14px;margin-bottom:20px;">
  Contribute to the community and build your own connector. <a href="https://dev.axonivy.com/link/market-contribute">How to?</a>
</div>
{% endif %}

{% endblock %}
