{% extends "_parts/base.twig" %}

{% block title %}Axon.ivy Market{{ parent() }}{% endblock %}

{% block content %}
  	
	{% include 'market/_market-header.twig' %}

	<section id="two">
		<div class="inner">
			<div class="row">
				{% for product in products %}
					<div class="6u 12u$(small)">
						<header><h3>{{ product.name }}</h3></header>					
						<img src="{{ product.imgSrc }}" alt="{{ product.name }}" class="image fit"/>
						
						<ul class="actions">
							<li>
								<a href="{{ product.url }}" class="button special">
									<i class="icon fas fa-angle-right"></i> More
								</a>
							</li>
						</ul>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

{% endblock %}
