{% extends "_parts/base.twig" %}

{% block title %}{{ product.name }} | Axon Ivy Market {{ parent() }}{% endblock %}

{% block content %}

<style>
  .product-header h1 {
    float: left;
    line-height: 72px;
  }
  .product-header .image {
    width: 72px; 
    float: left; 
    margin-right: 1rem;
  }
  .product-install .button.special,
  .product-download .button.special,
  .product-header .button.special {
    color: #1b1b1b;
    border-radius: 30px;
    float: right;
    font-weight: normal;
    margin: 0.5em;
    border: solid 2px #C7D426;
    height: 3rem;
    line-height: 2.7rem;
  }
  .product-install .button.special.install,
  .product-download .button.special.install, 
  .product-header .button.special.install {
    background-color: #C7D426;
  }
  .product-install .button.special.download,
  .product-download .button.special.download, 
  .product-header .button.special.download {
    background-color: white;
  }
  .product-download,
  .product-install,
  .product-install-open-market {
    display: none;
    background-color: #f7f7f7;
    padding: 1em 0;
  }
  .dropdown {
    position: relative;
    width: auto;
    min-width: 240px;
    margin: 0.5em;
  }
  .dropdown label {
    position: absolute;
    top: 3px;
    left: 10px;
    font-weight: normal;
    font-size: 12px;
    color: #1b1b1b;
    text-transform: none;
  }
  .dropdown select {
    position: relative;
    padding: 18px 1em 0 6px;
  }
  /*IE11 fix*/
  .dropdown select::-ms-expand {
    display: none;
  }
  .dropdown:before {
    content: "";
    position: absolute;
    right: 12px;
    top: 40%;
    background-image: url('/images/icons/arrow-down-1.svg');
    width: 12px;
    height: 12px;
  }

  @media screen and (max-width: 650px) {
    .product-meta .p-grid {
      flex-direction: column;
      align-content: flex-end;
      align-items: flex-end;
    }
  }
</style>

<section id="main">
  <div class="inner product-header">
    <div class="row">
      <div class="12u">
        <header>
          <h1>
            <img src="{{ product.imgSrc }}" class="image" alt="{{ product.name }}" />
            {{ product.name }}
          </h1>

          {% if mavenArtifacts is not empty %}
            <a class="button special download" href="javascript:void(0)" onclick="toggleDownloadPanel();">
              <span>Download</span>
            </a>
          {% endif %}
          {% if installButton.isShow %}
            <a class="button special install" href="javascript:void(0)" onclick="{{ (installButton.enabled) ? (installButton.multipleVersions ? 'toggleInstallPanelForMultipleVersions();' : installButton.javascriptCallback|raw) : '$(\'.product-install-open-market\').slideToggle();' }}">
              <span>Install now</span>
            </a>
          {% endif %}
          {% if not product.installable and product.mavenProductInfo is empty %}
            <a class="button special install" href="{{ getInTouchLink }}">
              <span>Contact us</span>
            </a>
          {% endif %}
        </header>
      </div>
    </div>
  </div>
</section>

<section class="product-install-open-market">
  <div class="inner product-meta">
    <article class="alt">
      {% if not installButton.isDesigner %}
        <i class="si si-info"></i> Please open the 
        <a href="/doc/dev/market/index.html">Axon Ivy Market</a> inside your  
        <a href="/download">Axon Ivy Designer</a> (min 9.2.0)
      {% else %}
        <i class="si si-warning"></i> {{ installButton.reason }}
      {% endif %}
    </article>
  </div>
</section>

<section class="product-download">
  <div class="inner product-meta">
    <article class="alt p-grid p-justify-end p-align-center">
      {% if mavenArtifacts is not empty %}
        <span class="dropdown">
          <label>Choose artifact</label>
          <select name="artifact" id="artifact" onchange="">
            {% for artifact in mavenArtifacts %}
              <a href="#">
                <option value="{{ artifact.getUrl(selectedVersion) }}">{{ artifact.name }} ({{ artifact.type }})</option>
              </a>
            {% endfor %}
          </select>
        </span>
      {% endif %}
      {% if mavenProductInfo != null %}
       <span class="dropdown">
          <label>Choose target platform</label>
          <select name="version" id="version" onchange="location = this.value + '#download';">
          {% for version in mavenProductInfo.versionsToDisplay %}            
            <a href="#">
              <option value="{{ product.url }}/{{ version }}" {{ (version == selectedVersion) ? 'selected' : '' }}>Version {{ version|replace({'-SNAPSHOT':''}) }}</option>
            </a>
          {% endfor %}
          </select>
        </span>
      {% endif %}

      <a class="button special install artifact" href="javascript:void(0)" onclick="downloadArtifact()">
        <span>Download</span>
      </a>
    </article>
  </div>
</section>

<section class="product-install">
  <div class="inner product-meta">
    <article class="alt p-grid p-justify-end p-align-center">
      {% if mavenProductInfo != null %}
       <span class="dropdown">
          <label>Version</label>
          <select name="installVersion" id="installVersion" onchange="location = this.value + '#install';">
          {% for version in mavenProductInfo.versionsToDisplay %}            
            <a href="#">
              <option value="{{ product.url }}/{{ version }}" data-meta-json-url="{{ installButton.getMetaJsonUrl(version)|raw }}" {{ (version == selectedVersion) ? 'selected' : '' }}>Version {{ version|replace({'-SNAPSHOT':''}) }}</option>
            </a>
          {% endfor %}
          </select>
        </span>
      {% endif %}

      <a class="button special install artifact" href="javascript:void(0)" onclick="installInDesigner()">
        <span>Install</span>
      </a>
    </article>
  </div>
</section>


<script>
  function downloadArtifact() {
    window.location = $('#artifact').val();
  }
  function toggleDownloadPanel() {
    $('.product-download').slideToggle();
    if (window.location.hash === '') {
      window.location.hash = '#download';
    } else {
      window.location.hash = '';
    }
  }
  if (window.location.hash === '#download') {
    $('.product-download').show();
  }
  
  function toggleInstallPanelForMultipleVersions() {
    $('.product-install').slideToggle();
    if (window.location.hash === '') {
      window.location.hash = '#install';
    } else {
      window.location.hash = '';
    }
  }  
  function installInDesigner() {
    var url = $('#installVersion').find(':selected').data('meta-json-url');
  	install(url);
  }
  if (window.location.hash === '#install') {
    $('.product-install').show();
  }
</script>

{% include 'market/_product-data.twig' %}

{% include 'market/_product-description.twig' %}

{% endblock %}
