{% extends "_parts/base.twig" %}

{% block title %}{{ product.name }} | Axon.ivy Market {{ parent() }}{% endblock %}

{% block content %}


	<section id="main" class="inverse">
		<div class="inner">
			<header>
				<h1 style="float:left;"><span class="icon fas fa-store "></span> {{ product.name }}</h1>
			</header>
			
			<div class="row">
				<div class="6u 12u$(small)">
					{{ product.description|raw }}
					
						{% for artifact in docArtifacts %}
						    {% if artifact.docExists(selectedVersion) %}
								&ensp;<a href="{{ artifact.getDocUrl(selectedVersion) }}"><span class="icon fas fa-book"></span> {{ artifact.name }}</a>
							{% endif %}
					    {% endfor %}
				</div>
				<div class="6u 12u$(small)" >
					<img src="{{ product.imgSrc }}" class="image fit" style="max-width: 680px;" alt="{{ product.name }}" />
				</div>
				
	    	</div>
		</div>
	</section>

{% endblock %}
