{% extends "_parts/base.twig" %}

{% block title %}{{ product.name }} | Axon.ivy Market {{ parent() }}{% endblock %}

{% block content %}

	<section id="main" class="inverse">
		<div class="inner">
			<div class="row">
				<div class="12u">
    				<header>
    					<img src="{{ product.imgSrc }}" class="image fit" style="width: 64px;float:left;margin-right:10px;" alt="{{ product.name }}" />
    					<h1 style="float:left;">{{ product.name }}</h1>
    
    				    {% if mavenProductInfo != null %}
    					<select name="version" id="version" onchange="location = this.value;" style="width:auto;float:right;">
    					    {% for version in mavenProductInfo.versionsToDisplay %}
    						<a href="#">
    							<option value="{{ product.url }}/{{ version }}" {{ (version == selectedVersion) ? 'selected' : '' }}>Version {{ version }}</option>
    						</a>
    					    {% endfor %}
    					</select>
    				    {% endif %}
    				    <div style="clear:both;"></div>

						{% if installButton.show %}
			    		<a href="javascript:void(0)" onclick="{{ installButton.javascriptCallback|raw }}" class="button special {{ (installButton.enabled) ? '' : 'disabled' }}">
							<i class="icon fas fa-angle-right" style="color:#007095;"></i> Install
    					</a>
        					{% if not installButton.enabled %}
        						<br />
        						<i style="font-size:12px;">{{ installButton.reason }}</i>
        					{% endif %}
    					{% endif %}
    				</header>
				</div>
			</div>
		</div>
	</section>

	<style>
		.product-meta h1 {
			margin-bottom: 0.2em;
		}
		.product-meta h2 {
			margin-bottom: 0.2em;
		}
		.product-meta h3 {
			margin-bottom: 0.2em;
		}
		.product-meta h4 {
			margin-bottom: 0.2em;
		}
		.product-meta h5 {
			margin-bottom: 0.2em;
		}
		.product-meta h6 {
			margin-bottom: 0.2em;
		}
		.meta-content {
			margin-bottom:20px;
		}
		.product-meta ul {
			margin-bottom: 0.3em;
		}
		.product-meta p {
			margin-bottom: 0.3em;
		}
	</style>
	
	<section id="two" style="padding-top: 60px;">
		<div class="inner product-meta">
			<article>
				<div class="content">
					{{ product.description|raw }}
				</div>
			</article>
			<article class="alt">
				<div class="content">
					{% if docArtifacts is not empty %}
						<header><h3>Documentation</h3></header>
						<div class="meta-content">
   						{% for artifact in docArtifacts %}
							<a href="{{ artifact.getDocUrl(selectedVersion) }}"><i class="icon fas fa-book" style="font-size:20px;"></i> {{ artifact.name }}</a>
   					    {% endfor %}
						</div>
       				{% endif %}

					{% if mavenArtifacts is not empty %}
						<header><h3>Download</h3></header>
						<div class="meta-content">
						<ul>
						    {% for artifact in mavenArtifacts %}
							<li>
								<a style="font-size:16px;" href="{{ artifact.getUrl(selectedVersion) }}">
									{{ artifact.name }} {{ selectedVersion }} ({{ artifact.type }})
								</a>
							</li>
							{% endfor %}
					    </ul>
					    </div>
					{% endif %}
						
					{% if mavenArtifactsAsDependency is not empty %}
						<header><h3>Maven</h3></header>
						<div class="meta-content">
							<p>You can consume it as maven artifact in your <i>pom.xml</i></p>
							{% for artifact in mavenArtifactsAsDependency %}
								<pre><code>&lt;!-- {{ artifact.name }} --&gt;
&lt;dependency&gt;
  &lt;groupId&gt;{{ artifact.groupId }}&lt;/groupId&gt;
  &lt;artifactId&gt;{{ artifact.artifactId }}&lt;/artifactId&gt;
  &lt;version&gt;{{ selectedVersion }}&lt;/version&gt;
  &lt;type&gt;{{ artifact.type }}&lt;/type&gt;
&lt;/dependency&gt;</code></pre>
						    {% endfor %}
						</div>
					 {% endif %}
				</div>
			</article>
		</div>
	</section>

{% endblock %}
