{% extends "_parts/base.twig" %}

{% block title %}Doc {{ version }}{{ parent() }}{% endblock %}

{% block content %}

    <meta http-equiv="refresh" content="3; URL={{ redirectUrl }}"> <!-- fallback if no javascript is enabled -->

	<section id="main" >
		<div class="inner">
			<header><h1>Redirect</h1></header>
			<div class="row">
				<div id="redirectText" class="12u 12u$(xsmall)">
					You will be redirected in 3 seconds to our brand new documentation.
					Otherwise click on the following link.
				</div>
				<div class="12u 12u$(xsmall)">
					<a href="{{ redirectUrl }}" id="redirectPage">{{ redirectUrl }}</a>
				</div>
			</div>
		</div>
	</section>
	
	<script type="text/javascript">
		var redirects = {
		  'DesignerGuideHtml' : '',
		  'index.html' : '',
		  
	      'ivy.introduction.html' : 'introduction/',
		  'ivy.introduction.html#ivy-introduction-whatis' : '../axonivy/index.html',
		  
		  'ivy.introduction.html#ivy-introduction-workbench' : 'introduction/workbench.html',
		  'ivy.introduction.html#ivy-introduction-editorsandviews' : 'introduction/workbench.html#axon-ivy-editors-and-views',
		  
		  'ivy.introduction.html#ivy-introduction-perspectives' : 'introduction/perspectives.html',
		  'ivy.introduction.html#ivy-introduction-available_ivy_perspectives' : 'introduction/perspectives.html',
		  'ivy.introduction.html#ivy-introduction-available_other_perspectives' : 'introduction/perspectives.html',
		  
		  'ivy.introduction.html#ivy-introduction-menus' : 'introduction/menus.html',
		  
		  'ivy.introduction.html#ivy-introduction-toolbar' : 'introduction/toolbar.html',
		  
		  'ivy.introduction.html#ivy-introduction-usefulCommands' : 'introduction/shortcuts.html',
		  
		  'ivy.introduction.html#ivy-introduction-preferences' : 'introduction/preferences.html',
		  'ivy.introduction.html#ivy-introduction-preferences-deprecation' : 'introduction/preferences.html#deprecation-settings',
		  'ivy.introduction.html#ivy-introduction-preferences-email' : 'introduction/preferences.html#email-settings',
		  'ivy.introduction.html#ivy-introduction-preferences-ivyscript' : 'introduction/preferences.html#ivyscript-settings',
		  'ivy.introduction.html#ivy-introduction-preferences-processeditor' : 'introduction/preferences.html#process-editor-settings',
		  'ivy.introduction.html#ivy-introduction-preferences-processengine' : 'introduction/preferences.html#process-engine-settings',
		  'ivy.introduction.html#ivy-introduction-preferences-sslclient' : 'introduction/preferences.html#ssl-client-settings',
		  
		  'ivy.introduction.html#ivy-introduction-commonuicomponents' : 'introduction/common-ui-components.html',
		  'ivy.introduction.html#ivy-ui-common-ivyscript-editor' : 'introduction/common-ui-components.html#ivyscript-editor',
		  'ivy.introduction.html#commonUIComponents-MacroTextEditor' : 'introduction/common-ui-components.html#macro-text-editor',
		  'ivy.introduction.html#commonUIComponents-SmartButtons' : 'introduction/common-ui-components.html#smart-buttons',
		  'ivy.introduction.html#ivy-wizards-refactoring' : 'introduction/common-ui-components.html#refactoring-wizards',
		  
		  'ivy.processmodeling.html' : 'process-modeling/',
		  'ivy.processmodeling.html#ivy-project' : 'process-modeling/projects.html',
		  'ivy.processmodeling.html#ivy-project-archives' : 'process-modeling/projects.html#ivy-archives',
		  'ivy.processmodeling.html#ivy-views-project' : 'process-modeling/projects.html#ivy-project-view',
		  'ivy.processmodeling.html#ivy-wizards-newproject' : 'process-modeling/projects.html#new-project-wizard',
		  'ivy.processmodeling.html#ivy-actions-importproject' : 'process-modeling/projects.html#importing-a-project',
		  'ivy.processmodeling.html#ivy-actions-exportproject' : 'process-modeling/projects.html#exporting-a-project',
		  'ivy.processmodeling.html#ivy-project-convert' : 'process-modeling/projects.html#converting-projects',
		  'ivy.processmodeling.html#ivy-project-preferences' : 'process-modeling/projects.html#project-preferences',
		  'ivy.processmodeling.html#ivy-project-deploymentdescriptor' : 'process-modeling/projects.html#project-deployment-descriptor',
		  'ivy.processmodeling.html#ivy-validators' : 'process-modeling/projects.html#validating-axon-ivy-projects-and-resources',
		  
		  'ivy.processmodeling.html#ivy-processmodels' : 'process-modeling/process-modeling.html',
		  'ivy.processmodeling.html#ivy-processmodels-processkinds' : 'process-modeling/process-modeling.html#process-kinds',
		  'ivy.processmodeling.html#ivy-wizards-newprocess' : 'process-modeling/process-modeling.html#new-process-wizard',
		  'ivy.processmodeling.html#ivy-wizards-newprocessgroup' : 'process-modeling/process-modeling.html#new-process-group-wizard',
		  'ivy.processmodeling.html#ivy-processmodels-import-modeller' : 'process-modeling/process-modeling.html#import-axon-ivy-modeler-processes',
		  'ivy.processmodeling.html#ivy-processmodels-process-inscription' : 'process-modeling/process-modeling.html#process-properties',
		  'ivy.processmodeling.html#ivy-editors-process' : 'process-modeling/process-modeling.html#process-editor',
		  'ivy.processmodeling.html#ivy-processmodels-swimmlanes' : 'process-modeling/process-modeling.html#swimlanes',
		  'ivy.processmodeling.html#ivy-wizards-reporting' : 'process-modeling/process-modeling.html#process-model-reporting-wizard',
		  'ivy.processmodeling.html#ivy-views-processoutline' : 'process-modeling/process-modeling.html#process-outline-view',
		  'ivy.processmodeling.html#ivy-views-processtemplates' : 'process-modeling/process-modeling.html#process-template-view',
		  'ivy.processmodeling.html#ivy-views-problems' : 'process-modeling/process-modeling.html#problems-view',
		  'ivy.processmodeling.html#ivy-views-reference' : 'process-modeling/process-modeling.html#reference-view',
		  
		  'ivy.processmodeling.html#ivy-simulation_and_debugging' : 'process-modeling/simulation-debugging.html',
		  'ivy.processmodeling.html#ivy-processmodels-simulation' : 'process-modeling/simulation-debugging.html#simulation',
		  'ivy.processmodeling.html#ivy-processmodels-debugging' : 'process-modeling/simulation-debugging.html#debugger',

		  'ivy.processmodeling.html#ivy-casemap' : 'process-modeling/casemap.html',
		  'ivy.processmodeling.html#ivy-wizards-newcasemap' : 'process-modeling/casemap.html#case-map-wizard',
		  'ivy.processmodeling.html#ivy-editors-casemap' : 'process-modeling/casemap.html#case-map-editor',
		  'ivy.processmodeling.html#ivy-casemap-statistics' : 'process-modeling/casemap.html#case-map-statistics-preview',
		  'ivy.processmodeling.html#ivy-casemap-workflow-execution' : 'process-modeling/casemap.html#workflow-execution-of-case-map-processes',
		  
		  'ivy.processmodeling.html#ivy-processmodels-elements-tabs' : 'process-modeling/process-elements/common-tabs.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-startrequest' : 'process-modeling/process-elements/start.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-event' : 'process-modeling/process-elements/program-start.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-boundary-error' : 'process-modeling/process-elements/error-boundary-event.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-error-start' : 'process-modeling/process-elements/error-start.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-boundary-signal' : 'process-modeling/process-elements/signal-boundary-event.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-signal-start' : 'process-modeling/process-elements/signal-start.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-alternative' : 'process-modeling/process-elements/alternative.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-split' : 'process-modeling/process-elements/split.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-join' : 'process-modeling/process-elements/join.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-task' : 'process-modeling/process-elements/task-switch-gateway.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-tasksimple' : 'process-modeling/process-elements/task-switch-event.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-intermediate' : 'process-modeling/process-elements/wait-program-intermediate-event.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-callandwait' : 'process-modeling/process-elements/call-and-wait.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-endpage' : 'process-modeling/process-elements/process-end-page.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-error-end' : 'process-modeling/process-elements/error-end.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-end' : 'process-modeling/process-elements/process-end.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-usertask' : 'process-modeling/process-elements/user-task.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-page' : 'process-modeling/process-elements/web-page.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-userdialog' : 'process-modeling/process-elements/user-dialog.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-scriptactivity' : 'process-modeling/process-elements/script-step.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-database' : 'process-modeling/process-elements/db-step.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-webservice' : 'process-modeling/process-elements/web-service-call-activity.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-rest-client' : 'process-modeling/process-elements/rest-client-activity.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-email' : 'process-modeling/process-elements/email-step.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-embeddedsub' : 'process-modeling/process-elements/embedded-subprocess.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-independentsub' : 'process-modeling/process-elements/call-sub.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-trigger' : 'process-modeling/process-elements/trigger-step.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-pi' : 'process-modeling/process-elements/program-interface-activity.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-note' : 'process-modeling/process-elements/note.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-wsprocessstart' : 'process-modeling/process-elements/web-service-process-start.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-subprocessstart' : 'process-modeling/process-elements/sub-process-start.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-userdialog-init' : 'process-modeling/process-elements/user-dialog-start.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-userdialog-method' : 'process-modeling/process-elements/user-dialog-method-start.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-userdialog-event' : 'process-modeling/process-elements/user-dialog-event-start.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-userdialog-end' : 'process-modeling/process-elements/user-dialog-process-end.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-userdialog-exit' : 'process-modeling/process-elements/user-dialog-exit-end.html',
		  'ivy.processmodeling.html#ivy-processmodels-elements-bpmntasks' : 'process-modeling/process-elements/bpmn-activity-elements.html',
		  
		  'ivy.datamodeling.html' : 'data-modeling/',
		  'ivy.datamodeling.html#ivy-dataclasses-overview' : 'data-modeling/data-classes.html',
		  'ivy.datamodeling.html#ivy-wizards-newdataclass' : 'data-modeling/data-classes.html#new-data-class-wizard',
		  'ivy.datamodeling.html#ivy-editors-dataclass' : 'data-modeling/data-classes.html#data-class-editor',
		  'ivy.datamodeling.html#ivy-businessdata' : 'data-modeling/business-data.html',
		  'ivy.datamodeling.html#ivy-businessdata-concept' : 'data-modeling/business-data.html#business-data-concept',
		  'ivy.datamodeling.html#ivy-businessdata-usage' : 'data-modeling/business-data.html#business-data-usage',
		  'ivy.datamodeling.html#ivy-businessdata-limitations' : 'data-modeling/business-data.html#business-data-limitations',
		  'ivy.datamodeling.html#ivy-businessdata-serialization' : 'data-modeling/business-data.html#customization',
		  'ivy.datamodeling.html#ivy-persistence' : 'data-modeling/persistence.html',
		  'ivy.datamodeling.html#ivy-persistence-entityclasses' : 'data-modeling/persistence.html#entity-classes',
		  'ivy.datamodeling.html#ivy-wizards-newentityclass' : 'data-modeling/persistence.html#new-entity-class-wizard',
		  'ivy.datamodeling.html#ivy-editors-entityclass' : 'data-modeling/persistence.html#entity-class-editor',
		  'ivy.datamodeling.html#ivy-editors-persistence-configuration' : 'data-modeling/persistence.html#persistence-configuration-editor',
		  'ivy.datamodeling.html#ivy-wizards-persistence-generate-schema' : 'data-modeling/persistence.html#generate-database-schema-from-persistence-unit',
		  'ivy.datamodeling.html#ivy-persistence-api' : 'data-modeling/persistence.html#persistence-api',
		  
		  'ivy.ivyscript.html' : 'ivyscript/',
		  'ivy.ivyscript.html#ivy-ivyscript-language-introduction' : 'ivyscript/',
		  'ivy.ivyscript.html#ivy-ivyscript-language' : 'ivyscript/language.html',
		  'ivy.ivyscript.html#ivy-ivyscript-language-elements' : 'ivyscript/language.html#language-elements',
		  'ivy.ivyscript.html#ivy-ivyscript-language-nullhandling' : 'ivyscript/language.html#null-handling-automatic-object-creation',
		  'ivy.ivyscript.html#ivy-editors-ivyscript' : 'ivyscript/editor.html',
		  'ivy.ivyscript.html#ivy-editors-ivyscript-modes' : 'ivyscript/editor.html#modes',
		  'ivy.ivyscript.html#ivy-ivyscript-browsers' : 'ivyscript/browsers.html',
		  'ivy.ivyscript.html#ivy-ivyscript-attributebrowser' : 'ivyscript/browsers.html#attribute-and-method-browser',
		  'ivy.ivyscript.html#ivy-ivyscript-functionbrowser' : 'ivyscript/browsers.html#function-browser',
		  'ivy.ivyscript.html#ivy-ivyscript-datatypebrowser' : 'ivyscript/browsers.html#data-type-browser',
		  'ivy.ivyscript.html#ivy-publicapi' : 'ivyscript/public-api.html',
		  'ivy.ivyscript.html#ivy-ivyscript-reference' : 'ivyscript/reference.html',
		  'ivy.ivyscript.html#ivy-ivyscript-reference-operators' : 'ivyscript/reference.html#operators',
		  'ivy.ivyscript.html#ivy-ivyscript-reference-datatypes' : 'ivyscript/reference.html#ivy-script-data-types',
		  'ivy.ivyscript.html#ivy-ivyscript-reference-environmentvariables' : 'ivyscript/reference.html#the-environment-variable-ivy',
		  'ivy.ivyscript.html#ivy-ivyscript-javaintegration' : 'ivyscript/java-integration.html',
		  'ivy.ivyscript.html#ivy-ivyscript-reference-javamethods' : 'ivyscript/java-integration.html#call-java-methods-and-fields',
		  'ivy.ivyscript.html#ivy-ivyscript-reference-autocast' : 'ivyscript/java-integration.html#auto-casting-rules',

		  'ivy.cms.html' : 'cms/',
		  'ivy.cms.html#ivy-cms-introduction' : 'cms/',
		  'ivy.cms.html#ivy-cms-structure' : 'cms/structure.html',
		  'ivy.cms.html#ivy-cms-contentobjects' : 'cms/content-object-types.html',
		  'ivy.cms.html#ivy-cms-access' : 'cms/access.html',
		  'ivy.cms.html#ivy-cms-browseraccess' : 'cms/access.html#access-with-a-browser',
		  'ivy.cms.html#ivy-cms-resolution' : 'cms/access.html#content-resolution',
		  'ivy.cms.html#ivy-cms-manipulation' : 'cms/manipulation.html',
		  'ivy.cms.html#ivy-views-cmstree' : 'cms/manipulation.html#cms-view',
		  'ivy.cms.html#ivy-editors-co' : 'cms/manipulation.html#content-object-editor',
		  'ivy.cms.html#ivy-cms-valueeditors' : 'cms/manipulation.html#content-object-value-editors',
		  'ivy.cms.html#ivy-cms-translation' : 'cms/translation.html',
		  'ivy.cms.html#ivy-cms-export' : 'cms/translation.html#export-from-cms',
		  'ivy.cms.html#ivy-cms-import' : 'cms/translation.html#import-into-cms',

		  'ivy.userinterface.html' : 'user-interface/',
		  'ivy.userinterface.html#ivy-userdialogs' : 'user-interface/user-dialogs.html',
		  'ivy.userinterface.html#ivy-userdialogs-concept' : 'user-interface/user-dialogs.html#user-dialog-concept',
		  'ivy.userinterface.html#ivy-htmldialogs' : 'user-interface/user-dialogs.html#html-dialogs',
		  'ivy.userinterface.html#ivy-html-static-xhtml' : 'user-interface/static-jsf-pages.html',
		  'ivy.userinterface.html#ivy-html-static-xhtml-access' : 'user-interface/static-jsf-pages.html#access-static-pages',
		  'ivy.userinterface.html#ivy-html' : 'user-interface/web-page.html',
		  'ivy.userinterface.html#ivy-html-dialogs-usage' : 'user-interface/web-page.html#using-web-pages-web-content-in-a-business-process',
		  'ivy.userinterface.html#ivy-html-cms-valueeditors' : 'user-interface/web-page.html#html-content-in-the-cms',
		  'ivy.userinterface.html#ivy-html-webContent' : 'user-interface/web-page.html#html-content-in-the-web-content-folder',
		  'ivy.userinterface.html#ivy-html-howto' : 'user-interface/web-page.html#html-best-practice',
		  
		  'ivy.integration.html' : '3rd-party-integration/',
		  'ivy.integration.html#ivy-integration-introduction' : '3rd-party-integration/',
		  
		  'ivy.integration.html#ivy-integration-process' : '3rd-party-integration/index.html#process-extensions',
		  'ivy.integration.html#ivy-integration-process-custom-element' : '3rd-party-integration/index.html#custom-process-element',
		  'ivy.integration.html#ivy-integration-database' : '3rd-party-integration/index.html#database',
		  'ivy.integration.html#ivy-integration-webservice' : '3rd-party-integration/index.html#web-services',
		  'ivy.integration.html#ivy-integration-webservice-client' : '3rd-party-integration/index.html#call-a-remote-web-service',
		  'ivy.integration.html#ivy-integration-webservice-provider' : '3rd-party-integration/index.html#provide-a-web-service-for-third-parties',
		  'ivy.integration.html#ivy-integration-rest' : '3rd-party-integration/index.html#rest-services',
		  'ivy.integration.html#ivy-integration-rest-client' : '3rd-party-integration/index.html#call-a-remote-rest-service',
		  'ivy.integration.html#ivy-integration-rest-provider' : '3rd-party-integration/index.html#provide-own-rest-services',
		  
		  
          'ivy.configuration.html' : 'configuration/',
          'ivy.configuration.html#ivy-configurationmanagement' : 'configuration/configuration.html#configuration-editor',
          'ivy.configuration.html#ivy-configuration-introduction' : 'configuration/configuration.html#configuration-tree',
          'ivy.configuration.html#ivy-editors-configuration' : 'configuration/configuration.html#configuration-editor-area',
          'ivy.configuration.html#ivy-configuration-renderers' : 'configuration/configuration.html#renderers-configuration',
          'ivy.configuration.html#ivy-configuration-types' : 'configuration/configuration.html#configuration-types',
          'ivy.configuration.html#ivy-configuration-environments' : 'configuration/environments.html',
          'ivy.configuration.html#ivy-configuration-globalvariables' : 'configuration/global-variables.html',
          'ivy.configuration.html#ivy-database' : 'configuration/database.html',
          'ivy.configuration.html#ivy-editors-database' : 'configuration/database.html#database-configuration-editor',
          'ivy.configuration.html#ivy-rest-client' : 'configuration/rest-clients.html',
          'ivy.configuration.html#ivy-rest-client-configuration' : 'configuration/rest-clients.html',
          'ivy.configuration.html#ivy-editors-rest-client' : 'configuration/rest-clients.html#rest-client-editor',
          'ivy.configuration.html#ivy-editors-webservice' : 'configuration/webservice-clients.html',
          'ivy.configuration.html#ivy-editors-webservice-tree' : 'configuration/webservice-clients.html#client-tree',
          'ivy.configuration.html#ivy-roles_and_users' : 'configuration/roles-users.html',
          'ivy.configuration.html#ivy-roles_and_users-role_concept' : 'configuration/roles-users.html#role-concept',
          'ivy.configuration.html#ivy-editors-role' : 'configuration/roles-users.html#role-editor',
          'ivy.configuration.html#ivy-editors-user' : 'configuration/roles-users.html#test-user-editor',
          
		  'ivy.concepts.html' : 'concepts/',
		  'ivy.concepts.html#ivy-adaptive-cases' : 'concepts/adaptive-case-management.html',
		  'ivy.concepts.html#ivy-concepts-signals' : 'concepts/adaptive-case-management.html#signal-reference',
		  'ivy.concepts.html#ivy-wf' : 'concepts/workflow.html',
		  'ivy.concepts.html#ivy-wf-taskandcase' : 'concepts/workflow.html#case-and-task',
		  'ivy.concepts.html#ivy-wf-businessCase' : 'concepts/workflow.html#business-case',
		  'ivy.concepts.html#ivy-wf-categories' : 'concepts/workflow.html#case-and-task-categories',
		  'ivy.concepts.html#ivy-wf-api' : 'concepts/workflow.html#workflow-api',
		  'ivy.concepts.html#ivy-wf-states' : 'concepts/workflow.html#workflow-states',
		  'ivy.concepts.html#ivy-concepts-offlinetasks' : 'concepts/offline-tasks.html',
		  'ivy.concepts.html#ivy-concepts-offlinetasks-offlinedialogs' : 'concepts/offline-tasks.html#offline-dialogs',
		  'ivy.concepts.html#ivy-storeData' : 'concepts/data-storage.html',
		  'ivy.concepts.html#ivy-concepts-error' : 'concepts/error-handling.html',
		  'ivy.concepts.html#ivy-concepts-error-errorcodes' : 'concepts/error-handling.html#error-codes',
		  'ivy.concepts.html#ivy-concepts-error-throw' : 'concepts/error-handling.html#throwing-errors',
		  'ivy.concepts.html#ivy-concepts-error-catch' : 'concepts/error-handling.html#catching-errors',
		  'ivy.concepts.html#ivy-concepts-ruleengine' : 'concepts/rule-engine.html',
		  'ivy.concepts.html#ivy-concepts-ruleengine-drl' : 'concepts/rule-engine.html#decision-tables-and-drl-files',
		  'ivy.concepts.html#ivy-concepts-ruleengine-execute' : 'concepts/rule-engine.html#execute-rules',
		  'ivy.concepts.html#ivy-concepts-ruleengine-demo' : 'concepts/rule-engine.html#demo-project',
		  'ivy.concepts.html#ivy-extension' : 'concepts/extensions.html',
		  'ivy.concepts.html#ivy-extension-processelements' : 'concepts/extensions.html#extendible-process-elements',
		  'ivy.concepts.html#ivy-extension-process-elements' : 'concepts/extensions.html#provide-your-own-process-elements',
		  'ivy.concepts.html#ivy-extension-eclipse' : 'concepts/extensions.html#axon-ivy-extensions-bundles-eclipse-plugin',
		  'ivy.concepts.html#ivy-extension-points' : 'concepts/extensions.html#extension-point-reference',
		  'ivy.concepts.html#ivy-deployment' : 'concepts/deployment.html',
		  'ivy.concepts.html#ivy-deployment-application' : 'concepts/deployment.html#application',
		  'ivy.concepts.html#ivy-deployment-processmodel' : 'concepts/deployment.html#process-model',
		  'ivy.concepts.html#ivy-deployment-processmodelversion' : 'concepts/deployment.html#process-model-version',
		  'ivy.concepts.html#ivy-deployment-example' : 'concepts/deployment.html#configuration-example',
		  'ivy.concepts.html#ivy-deployment-deployment' : 'concepts/deployment.html#axon-ivy-project-deployment',
		  'ivy.concepts.html#ivy-deployment-export' : 'concepts/deployment.html#export-all-project-files-to-a-zip-file',
		  'ivy.concepts.html#ivy-ci' : 'concepts/continuous-integration.html',
		  'ivy.concepts.html#ivy-ci-maven-plugin' : 'concepts/continuous-integration.html#maven-build-plugin',
		  'ivy.concepts.html#ivy-ci-jenkins-job' : 'concepts/continuous-integration.html#continuous-integration-job-with-jenkins',
		  'ivy.concepts.html#ivy-misc' : 'concepts/miscellaneous.html',
		  'ivy.concepts.html#ivy-data-caching' : 'concepts/miscellaneous.html#data-caching',
		  'ivy.concepts.html#ivy-misc-systemevents' : 'concepts/miscellaneous.html#system-events',
		  'ivy.concepts.html#ivy-search' : 'concepts/miscellaneous.html#axon-ivy-search',
		  'ivy.concepts.html#ivy-eclipse-plugins' : 'concepts/miscellaneous.html#eclipse-plugin-mechanism',
		  
		  'ivy.troubleshooting.html' : 'troubleshooting/',
		  'ivy.troubleshooting.html#ivy-troubleshooting-introduction' : 'troubleshooting/',
		  'ivy.troubleshooting.html#ivy-troubleshooting-errordialog' : 'troubleshooting/index.html#error-dialogs',
		  'ivy.troubleshooting.html#ivy-troubleshooting-memory' : 'troubleshooting/index.html#memory-problems',
		  'ivy.troubleshooting.html#ivy-troubleshooting-memory-heap' : 'troubleshooting/index.html#outofmemoryexception-java-heap-space',
		  
		  'ivy.references.html' : 'reference/',
		  'ivy.references.html#ivy-reference' : 'reference/reference.html',
		  'ivy.references.html#ivy-reference-editors' : 'reference/reference.html#editors',
		  'ivy.references.html#ivy-reference-views' : 'reference/reference.html#views',
		  'ivy.references.html#ivy-reference-wizards' : 'reference/reference.html#wizards',
		  'ivy.references.html#ivy-reference-perspectives' : 'reference/reference.html#perspectives',
		  'ivy.references.html#ivy-reference-processelement' : 'reference/reference.html#process-elements',
		  'ivy.references.html#ivy-reference-ivyscript' : 'reference/reference.html#ivyscript',
		  'ivy.references.html#ivy-glossar' : 'reference/glossary.html'
		}

		var page = getPageWithAnchor();
		if (!redirect(page)) {
			page = getPage();
			if (!redirect(page)) {
				page = 'index.html'
				redirect(page);
			}
		}
		
		function redirect(from) {
			if (redirects.hasOwnProperty(from)) {
				var to = redirects[from];
				console.log("redirect " + from + " to " + to);
				targetPage = "../designer-guide/" + to

				var link = document.getElementById("redirectPage");
				link.href = targetPage;
				link.innerHTML = targetPage;
				
				setTimeout(function() {
					window.location.href = targetPage;
				}, 500);
				return true;
			} else {
				console.log("no redirection found for page " + page);
				return false;
			}
		}

		function getPageWithAnchor() {
			var page = getPage();
			var anchor = getAnchor();
			if (anchor) {
				return page + "#" + anchor;
			}
			return page;
		}

		function getPage() {
			var path = window.location.pathname;
			return path.split("/").pop();
		}
		
		function getAnchor() {
		    var currentUrl = document.URL,
			urlParts   = currentUrl.split('#');				
		    return (urlParts.length > 1) ? urlParts[1] : null;
		}		
	</script>
    
{% endblock %}
