<style>
  .download-card {
    border: 0px solid black;
    text-align: center;
    padding: 0 0 0 0.8em;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .download-link {
    padding: 10px 10px 10px 10px;
    width: 100%;
    line-height: 25px;
    height: 70px;
    font-size: 18px;
  }
  .download-description {
    font-size: 12px;
    font-weight: 500;
  }
  .download-icon {
    font-size: 14px;
  }
  .permalinks {
    display: none; 
    list-style: none;
    padding: 0;
  }
  .permalinks li {
    padding: 0;
  }
  .row.justify-content-center {
    display: flex;
    justify-content: center;
  }
  .download-card.single {
    width: auto;
  }
</style>

<div class="row {% if artifacts|length == 1 %}justify-content-center{% endif %}">
  {% if artifacts is empty %}
    <b>This is currently not available. Come back soon!</b>
  {% endif %}
  {% for artifact in artifacts %}
    {% set column = artifacts|length == 1 ? '' : 12 / artifacts|length %}
    <div class="{% if column %}{{ column }}u 12u$(xsmall){% endif %} download-card {% if artifacts|length == 1 %}single{% endif %}">
      {% if artifact.icon ends with '.svg' %}
        <img src="{{ artifact.icon }}" alt="{{ artifact.name }}" style="height:55px;" />
      {% else %}
        <i class="{{ artifact.icon }}" style="font-size:65px;"></i>
      {% endif %}
      <br /><br />
      <a href="{{ artifact.url }}" title="{{ artifact.filename }}" class="button special download-link">
        {{ artifact.name }}
        <br />
        <span class="download-description">{{ artifact.description }}</span>
      </a>
    </div>
  {% endfor %}
</div>

<br />

{% if artifacts is not empty %}
  <div>
    {% if artifacts[0].name == 'VS Code Extension' %}
      <p style="float:left;"><i class="si si-hyperlink"></i> <a href="https://community.axonivy.com/d/1149-maintenance-mode-of-the-eclipse-based-pro-designer">More information</a></p>
    {% else %}
      <p style="float:left;"><i class="si si-hyperlink"></i> <a href="javascript:void(0);" onclick="javascript:showPermalinks();">Permalink</a></p>
      <p style="float:right;"><i class="si si-archive"></i> <a href="{{ archiveLink }}">other version and platforms</a></p>
    {% endif %}
  </div>
  <div style="clear: both;"></div>
  <ul class="permalinks">
    {% for artifact in artifacts %}
      {% if artifact.permalink is not empty %}
      <li><i class="{{ artifact.icon }}"></i><a class="permalink-link" href="{{ artifact.permalink }}"> {{ artifact.permalink }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}

<script>
  function showPermalinks() {
    var elements = document.getElementsByClassName('permalinks');
    for (var i = 0; i < elements.length; i++) {
      var element = elements[i];
      if (element.style.display == 'none') {
        element.style.display = 'block';
      } else {
        element.style.display = 'none';
      }
    }
  }
</script>
