{% extends "_parts/base.twig" %}

{% block title %}Download{{ parent() }}{% endblock %}

{% block content %}

<section id="main">
  <div class="inner">
    <header>
      <h1>
        {{ headerTitle }}
        <span class="download-infos">
          <div>{{ releaseDate }}</div>
          {% if releaseNotesLink is not empty %}
            <div class="release-notes-info" title="Release Notes">
              <a href="{{ releaseNotesLink }}"><i class="si si-book"></i>Release Notes</a>
            </div>
          {% endif %}
        </span>
      </h1>
    </header>
    {{ headerSubTitle|raw }}
  </div>
</section>

{% if banner %}
  <section id="one" style="background-color: #f3f3f3; height: 5.75em;">
    <div class="inner-small">
      <article>
        <div class="content">
          <p>{{ banner|raw }}</p>
        </div>
      </article>	
    </div>
  </section>
{% endif %}

<section id="two">
  <div class="inner">
    <article>
      <div class="content">
        <header>
          <h3>
            <i class="si si-wrench"></i> Axon Ivy Designer ({{ versionShort }})
          </h3>
        </header>

        <p style="min-height: 200px;">
          The Axon Ivy Designer is a state
          of the art process modelling tool that enables you to turn your
          business processes into real and fully functional web applications.
          You can easily integrate your existing systems using standard
          connectors such as web services, SQL and many more.
        </p>

        {% include 'download/_artifacts.twig' with {'artifacts': designerArtifacts} %}

        {% if vscodeExtensionLink is not empty %}
          <p style="font-size: medium; margin-bottom: 0.5em;">
            The <b>Eclipse-based PRO Designer</b> is now in maintenance mode. 
            Its successor is the Axon Ivy PRO Designer 14 Visual Studio Code extension.
          </p>
        {% endif %}

        {% if versionShort == 'LE 13.2' %}
          <p style="font-size: medium; margin-bottom: 0.5em;">
            The Axon Ivy 13.2 is the last release of the <b>Eclipse-based PRO Designer</b>.
          </p>
          <p style="float:left;"><i class="si si-hyperlink"></i> <a href="https://community.axonivy.com/d/1149-maintenance-mode-of-the-eclipse-based-pro-designer">More information</a></p>
        {% endif %}
      </div>
    </article>

    <article class="alt">
      <div class="content">
        <header>
          <h3>
            <i class="si si-rocket"></i> Axon Ivy Engine ({{ versionShort }})
          </h3>
        </header>

        <p style="min-height: 200px;">
          Run your business processes on an Axon Ivy Engine in a single or
          clustered environment. Please order an evaluation license and
          further information at <a href="mailto:ivy@axonivy.com">ivy@axonivy.com</a>
          by providing your contact details.
          Get to know our <a href="/release-cycle">release cycle</a> for choosing the right version.
        </p>

        {% include 'download/_artifacts.twig' with {'artifacts': engineArtifacts} %}
      </div>
    </article>
  </div>
</section>

{% if showOtherVersions %}
<section id="three">
  <div class="inner">
    {% include 'download/_other-versions.twig' %}	
  </div>
</section>
{% endif %}

{% endblock %}
